name: Azure ML CI Demo

on:
  push:
    branches: [ main ]

# permissions:
#   id-token: write
#   contents: read

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Debug Secret Visibility
      run: |
        if [ -z "${{ secrets.AZURE_CREDENTIALS }}" ]; then
          echo "ERROR: AZURE_CREDENTIALS secret is EMPTY or NOT FOUND"
          exit 1
        else
          echo "Secret found, proceeding to login..."
        fi

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}        
        auth-type: 'SERVICE_PRINCIPAL'


    - name: Set Azure ML defaults
      run: |
        az configure --defaults \
          workspace=azure-ml \
          group=klaus-rg \
          location=eastus2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install scikit-learn joblib azure-ai-ml

    - name: Train model
      run: |
        python train.py

    - name: Register model to Azure ML
      run: |
        az extension add -n ml -y
        az ml model create \
          --name iris-demo-model \
          --path outputs/model.pkl \
          --type custom_model
